################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/Computer-Graphics/.vs
/Learn OpenGL/.vs

/Learn OpenGL/Solutions/Solution 1/.vs
/Learn OpenGL/Solutions/Solution 2/.vs
/Learn OpenGL/Solutions/Solution 3/.vs

/Learn OpenGL/Solutions/Solution 1/x64
/Learn OpenGL/Solutions/Solution 2/x64
/Learn OpenGL/Solutions/Solution 3/x64

*.ipch
*.suo
*.user
*.db
*.opendb
*.VC.db