################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/Computer-Graphics/.vs
/Learn OpenGL/.vs
/Learn OpenGL/Solutions/Solution 2/.vs
/Learn OpenGL/Solutions/Solution 2/.vs
/Learn OpenGL/Solutions/Solution 1/.vs
/Learn OpenGL/Solutions/Solution 1/.vs


*.ipch
*.suo
*.user
*.db
*.opendb